@model NbaApp.Data.Models.Filtering.DisplayFilteredStatsModel

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.LastName)
        </dd>
        FUUUUUUUUUUUUUUUUCK
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CareerSummary.Ppg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CareerSummary.Ppg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CareerSummary.Rpg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CareerSummary.Rpg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CareerSummary.Apg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CareerSummary.Apg)
        </dd>

    </dl> 
</div>
