@model NbaApp.Data.Models.StatisticsModels.CareerSummary

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CareerSummaryDetails</title>
</head>
<body>

<div>
    <h4>CareerSummary</h4>
    <h4>@Html.DisplayFor(model => model.Player.FirstName ) @Html.DisplayFor(model => model.Player.LastName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tpp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tpp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ftp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ftp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fgp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fgp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ppg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rpg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rpg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bpg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bpg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mpg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mpg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blocks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blocks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Steals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Steals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.turnovers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.turnovers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffReb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffReb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefReb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefReb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotReb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotReb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fgm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fgm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tpm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tpm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tpa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ftm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ftm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pFouls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pFouls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GamesPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GamesPlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GamesStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GamesStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlusMinus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlusMinus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Min)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
